[ca]
default_ca = CA_default

[CA_default]
database = index.txt
serial = serial
new_certs_dir = newcerts
default_md = sha256
policy = policy_loose
default_days = 365
default_crl_days = 30
private_key = private/ca.key
certificate = certs/ca.crt

[policy_loose]
countryName = optional
stateOrProvinceName = optional
localityName = optional
organizationName = optional
commonName = supplied
emailAddress = optional

[req]
default_bits = 4096
default_md = sha256
prompt = no
distinguished_name = ca_dn

[ca_dn]
CN = Cybersecurity Lab Root CA
O = Cybersecurity Lab
C = KE

[v3_ca]
basicConstraints = critical, CA:TRUE
keyUsage = critical, keyCertSign, cRLSign
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
